../.idea

<!--<script>
        function updateDateTime() {
            var currentDate = new Date();
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true };
            var formattedDate = currentDate.toLocaleDateString('en-US', options);
            document.getElementById('currentDateTime').textContent = formattedDate; }
        updateDateTime(); // Update immediately
        setInterval(updateDateTime, 1000); // Update every second
    </script>-->

     <!--<script>
        // Typing animation effect
        const text = "We, Dr. Kfir Alt and Dr. Saar Fridman, have been acquainted since our undergraduate years. Leveraging our strong collaboration and expertise in various fields, including finance, business, and economy, we embarked on a journey to establish a leading brand of soaps. Our vision is to provide high-quality, natural, and organic handmade soaps that promote well-being and sustainability. Each of our products is meticulously crafted with care and attention to detail, ensuring a luxurious and indulgent experience for our customers. At SoapVibe, we are committed to innovation, excellence, and customer satisfaction. Our team is dedicated to continuous improvement and creative exploration, striving to exceed expectations and set new standards in the industry.";
        let index = 0;
        function typeText() {
            document.querySelector('.about-text').innerHTML = text.slice(0, index);
            index++;
            if (index > text.length) {
                index = text.length; }
        }
        setInterval(typeText, 50); // Typing speed (milliseconds)
    </script>-->



<!-- animation for HomePage - was JS file -->

function startDisappearAnimation({selectedOption}) {
    var buttonsToDisappear = document.querySelectorAll('.box');

    buttonsToDisappear.forEach(function (button, index) {
        if (button !== selectedOption) {
            setTimeout(function () {
                button.style.transition = 'opacity 0.5s';
                button.style.opacity = '0';
            }, index * 500);
        }
    });

    // After the buttons have disappeared, leave the selected button for 1 second
    setTimeout(function () {
        redirectToOption(selectedOption);
    }, buttonsToDisappear.length * 500);
}

function redirectToOption(selectedOption) {
    // Add logic to redirect to the selected option
    switch (selectedOption) {
        case 'previousPurchases':
            window.location.href = 'previousPurchases.html';
            break;
        case 'likedProducts':
            window.location.href = 'likedProducts.html';
            break;
        // Add more cases as needed
        default:
            // Redirect to a default page if no valid option is provided
            window.location.href = 'defaultPage.html';
            break;
    }
}
