/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://5.imimg.com/data5/SL/FC/BO/SELLER-760892/natural-organic-handmade-butter-soaps-500x500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
}

.contact-form {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #007bff;
    color: #dcdcdc;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
