header {
    background-color: #ffcccc;
    color: black;
    padding: 10px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 10px 15px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('https://img.freepik.com/free-photo/shimmery-pink-paint-textured-background_53876-102630.jpg?w=996&t=st=1708698985~exp=1708699585~hmac=b444349ffb33ad83af009ef5e21e1f77c6928d278e6e2aed44877469ad21b842');
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: lavenderblush;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

hr {
    margin: 30px;
    font-weight: bold;
}

.criteria {
    margin-bottom: 20px;}
.criteria h2 {
    margin-bottom: 10px;}
.options label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8ab7f3;
    color: black;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.back-btn {
    text-decoration: none;
    color: #151313;
    font-weight: bold;
    float: none;
    text-align: left;
}

footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    position: fixed;
    padding: 10px;
    bottom: 0;
    width: 100%;
}