header {
    background-color: #ffcccc;
    color: black;
    padding: 10px 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('https://img.freepik.com/free-photo/shimmery-pink-paint-textured-background_53876-102630.jpg?w=996&t=st=1708698985~exp=1708699585~hmac=b444349ffb33ad83af009ef5e21e1f77c6928d278e6e2aed44877469ad21b842');
}

main {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: lavenderblush;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffcccc;
    color: black;
}

#totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.back-btn {
    text-decoration: none;
    color: #151313;
    font-weight: bold;
    float: right;
    text-align: left;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8ab7f3;
    color: #f59999;
}

footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}