header {
    background-color: #ffcccc;
    color: black;
    padding: 10px 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://5.imimg.com/data5/SL/FC/BO/SELLER-760892/natural-organic-handmade-butter-soaps-500x500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.dashboard-options {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.dashboard-options h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333; /* Text color for h2 */
}

.dashboard-options button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-options button:hover {
    background-color: #0056b3;
}

.back-btn {
    text-decoration: none;
    color: #151313;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8ab7f3;
    color: #f59999;
}

footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}