<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../../group6_part_3/pages/userDashboard/static/css/UserDashboardStyles.css">
</head>
<body>
    <header></header>
    <main>
        <br><br><br>
        <h1>User dashboard</h1><br><br>
        <section class="dashboard-options">
            <button onclick="">Previous Purchases</button><br>
            <button onclick=""><a href="../../group6_part_3/pages/likedSoaps/templates/html/LikedSoaps.html" id="likedSoapLink">My wishlist</a></button><br><br>
        </section>
        <button onclick="" class="back-btn"><a href="../../group6_part_3/pages/firstPage/templates/html/FirstPage.html" class="back-btn">Back</a></button>
    </main>
    <footer><p>&copy; 2024 SoapVibe. All rights reserved.</p></footer>
</body>
</html>
