header {
    background-color: #ffcccc;
    color: black;
    padding: 10px 20px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-photo/shimmery-pink-paint-textured-background_53876-102630.jpg?w=996&t=st=1708698985~exp=1708699585~hmac=b444349ffb33ad83af009ef5e21e1f77c6928d278e6e2aed44877469ad21b842');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 800px;
    margin: 20px auto;
}

h1{
    font-size: 50px;
}
.dashboard-options {
    background-color: lavenderblush;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
}

.dashboard-options h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.dashboard-options button {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 20px 25px;
    background-color: #ffcccc;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 15px;
}

.dashboard-options button:hover {
    background-color: #8ab7f3;
    color: black;}

.back-btn {
    text-decoration: none;
    color: #151313;
    font-weight: bold;
    float: right;
    text-align: left;
}

#likedSoapLink{
    text-decoration: none;
    color: black;

}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #8ab7f3;
    color: #f59999;
}

footer {
    background-color: #ffcccc;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}